@model airlineBooking.Models.FlightModel
@{
    ViewBag.Title = "Index";
    var showMessage = ViewBag.ShowMessage;
}
<script type="text/javascript" src="@Url.Content("~/Scripts/Flight/jquery.Flight.js")"></script>

<h2>@showMessage</h2>

<div>
    @using (Html.BeginForm("Flights", "Flight"))
    {

        <input type="text" id="fromCity" />
        @Html.HiddenFor(model => model.FromCity, new { id = "fromCityCode" })
        @Html.HiddenFor(model => model.FromCountry, new { id = "fromCountryCode" })
        <input type="text" id="toCity" />
        @Html.HiddenFor(model => model.ToCity, new { id = "toCityCode" })
        @Html.HiddenFor(model => model.ToCountry, new { id = "toCountryCode" })
        
        <span>Ngày đi</span>
        <input type="text" id="fromDate" />
        @Html.HiddenFor(model => model.FromDate, new { id = "fromDateCode" })
        <span>Ngày đến</span>
        <input type="text" id="toDate" />
        @Html.HiddenFor(model => model.ToDate, new { id = "toDateCode" })

        <input type="submit" id="submitForm" value="Search" />
        
    }
</div>
