@model airlineBooking.ViewModels.SearchFlightViewModel
@{
    ViewBag.Title = "SearchFlight";
}

<fieldset>
    <legend>SearchFlight</legend>
    <ol>
        @{
            for (var indexOfCarrierModel = 0; indexOfCarrierModel < Model.carriersModel.Count; indexOfCarrierModel++ )
            {
                <li>
                    @Html.DisplayFor(m => m.carriersModel[indexOfCarrierModel].CarrierId)
                </li>
                <li>
                    @Html.DisplayFor(m => m.carriersModel[indexOfCarrierModel].Name)
                </li>
            }
        }
        
        @*<li>
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </li>
        <li>
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        </li>*@
    </ol>
</fieldset>
